body{
    /*background-color:rgb(16, 31, 112); = deixar cor de fundo unica*/
    text-align: center; /* centralizar itens*/
    font-style: italic;
    font-family: fantasy;
    background-image: url('de58a3822ae13a33f7bf67886afd3966.gif');
    background-size: cover; /* Para cobrir toda a área */
    background-position: center; /* Para centralizar a imagem */
    background-repeat: no-repeat; /* Para evitar repetição */
    height: 100vh; /* Altura total da janela */
    margin: 0; /* Remove margens padrão */
}
button{
    background-color: rgb(255, 255, 255); /* background-color = mexer na cor do fundo */
    color: rgb(0, 0, 0);
}
h1{
    color: rgb(255, 255, 255); /* color = mexer na cor do item */
}
